@*<li>
    <a href="/Bireysel/Duyurularım">
        <span class="fa fa-bullhorn"></span>
        Duyurularım
    </a>
</li>*@

<li>
    <a href="/Bireysel/Odemelerim">
        <span class="fa fa-lira-sign"></span>
        Ödemelerim
    </a>
</li>

<li>
    <a href="/UreticiKayit/Index">
        <span class="fa fa-shopping-cart"></span>
        Üretici Kayıtlar
    </a>
</li>

<li>
    <a href="/UreticiKayit/IndexDetayli">
        <span class="fa fa-shopping-cart"></span>
        Üretici Kayıtlar Detaylı
    </a>
</li>

<li>
    <a href="/Bireysel/SignOut">
        <span class="fa fa-sign-out-alt"></span>
        Çıkış Yap
    </a>
</li>